<!doctype html>
<html>

<head>
  <title>Hello World ReactTS!</title>

  <link rel="stylesheet" href="/static/vendor.css">
  <link rel="stylesheet" href="/static/app.css">
</head>

<body>
  <div id="root"></div>
  <script src="/static/vendor.js"></script>
  <script src="/static/app.js"></script>
</body>

</html>
