@import '~bootstrap/scss/_variables.scss'; // sass-lint:disable-line clean-import-paths

body {
  header {
    background: $black;
    color: $white;
    padding: 20px;

    nav {
      a {
        padding: 0 10px;
      }
    }
  }
}
